<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="icon" href= "../images/adminlogo.jpg"/>
    <title>Add</title>
    <link rel="stylesheet" href="../CSS/Admin.css">
</head>
<body>
    <div class="sidebar">
        <h2>Admin</h2>
      <hr />
      <ul>
        <li id="home-link">
          <a href="/admin"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li id="add-student-link">
          <a href="/admin/addstudent"><i class="fa-solid fa-plus"></i> Add Student</a>
        </li>
        <li id="add-doctor-link">
          <a href="/admin/adddoctor"><i class="fa-solid fa-plus"></i> Add Doctor</a>
        </li>
      </ul>
    </div>
    <div class="main-content">
        <div class="navbar">
            <div class="logo"><img src="../images/fcilogo.jpg"></div>
            <div class="search-container2">
                <input type="text" id="search-field" placeholder="Search by Academic ID">
                <a href="/admin/SearchResult"><button id="search-button">Search</button></a>
            </div>
        </div>

        <div class="changed-section" id="add-student-section">
        <form id="add-student-form" method="post" enctype="multipart/form-data" style="flex-direction: column; align-items: center;">
            <div class="inputs" style="justify-content: center; display: flex; flex-direction: column;">
                <input name="FullName" type="text" placeholder="FullName" required>
                <input name="ProfessorID" type="number" placeholder="Professor ID" min="0" required>
                <input name="Email" type="email" placeholder="Email" required>
                <input name="password" type="password" placeholder="Password" required>
                  <select name="TaughtCourses" id="TaughtCourses" multiple required>
                    <option value="" disabled selected>Select a course</option>
                  </select>

            </div>
            <div class="buttons">
                <button type="submit" name="submit">Add</button>
                <button type="reset">Reset</button>
            </div>

        </form>
            <!-- ✅ Message goes here -->
        <div id="add-student-message" style="margin-top: 1rem; color: green;"></div>
        </div>
    </div>

    <script src="../JS/addProfessor.js"></script>
</body>
</html>
