<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="icon" href= "../images/adminlogo.jpg"/>
    <title>Add</title>
    <link rel="stylesheet" href="../CSS/Admin.css">
</head>
<body>
    <div class="sidebar">
     
        <h2>Admin</h2>
      <hr />
      <ul>
        <li id="home-link">
          <a href="/admin"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li id="add-student-link">
          <a href="/admin/addstudent"><i class="fa-solid fa-plus"></i> Add Student</a>
        </li>
        <li id="add-doctor-link">
          <a href="/admin/adddoctor"><i class="fa-solid fa-plus"></i> Add Doctor</a>
        </li>
      </ul>
    </div>
    <div class="main-content">
        <div class="navbar">
            <div class="logo"><img src="../images/fcilogo.jpg"></div>
            <!--<div class="search-container2">
                <input type="text" id="search-field" placeholder="Search by Academic ID">
                <a href="/admin/SearchResult"><button id="search-button">Search</button></a>
            </div>-->
            <div class="search-container2">
              <form id="search-form" action="/admin/SearchResult" method="GET" onsubmit="return handleSearch(event)">
                <input type="text" id="search-field" name="academicId" placeholder="Search by Academic ID" required />
                <button type="submit" id="search-button">Search</button>
              </form>
            </div>
        </div>

        <div class="changed-section" id="add-student-section">
        <form id="add-student-form" method="post" enctype="multipart/form-data">
            <input name="name" type="text" placeholder="Student Name" required>
            <input name="academic_id" type="number" placeholder="Academic ID" required>
            <input name="email" type="email" placeholder="Academic Email" required>
            <input name="password" type="password" placeholder="Password" required>
            <input name="gpa" step="0.01" max="4" min="0" type="number" placeholder="GPA" required>
            <input name="academic_year" type="number" placeholder="Academic Year" required step="1" max="4" min="1">
            <input name="tuition_fees" type="number" placeholder="Tuition Fees" required min="0">
            <select name="tuition_fees_status" required>
              <option value="" disabled selected>Select Tuition Fees Status</option>
              <option value="Paid">Paid</option>
              <option value="Unpaid">Unpaid</option>
            </select>
            <button type="submit" name="submit">Add</button>
            <button type="reset">Reset</button>
        </form>
            <div id="add-student-message"></div>
        </div>
    </div>


    <script src="../JS/addStudent.js"></script>
</body>
</html>
