<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../images/profile image.png">
    <title>Profile</title>
    <link rel="stylesheet" href="../CSS/ProfilePageStudent.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo"><img src="../images/menoufia-universitylogo.jpg" alt=""></div>
        <ul class="nav-links">
            <li><a href="../pages/MainPageStudent.html#Main">Home</a></li>
            <li><a href="../pages/MainPageStudent.html#about">About Us</a></li>
            <li><a href="../pages/MainPageStudent.html#contact">Contact Us</a></li>
            <li><a id="profile" href="../pages/doctorProfile.html"><i class="fa-regular fa-user"></i></a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="profile-header">
            <div class="profile-picture">
                <img src='../images/my profile picture.jpg' alt='Profile Picture'>
            </div>
            <div class="profile-title">
                <h1>John Doe</h1>
            </div>
        </div>

        <div class="profile-content">
            <div class="info-section">
                <h2>Personal Information</h2>
                <div class="info-grid">
                    <div class="info-item">
                        <span class="label">Name:</span>
                        <span class="value">John Doe</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Academic ID:</span>
                        <span class="value">202300123</span>
                    </div>
                </div>
            </div>

            <div class="info-section">
                <h2>Academic Information</h2>
                <div class="info-grid">
                    <div class="info-item">
                        <span class="label">Email:</span>
                        <span class="value">john.doe@student.menofia.edu.eg</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Password:</span>
                        <span class="value">********</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Taught Courses:</span>
                        <span class="value">Big data</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

