<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration of Materials</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../CSS/Registeration.css">
</head>
<body>
<nav class="navbar">
    <div class="logo"><img src="../images/menoufia-universitylogo.jpg" alt=""></div>
    <ul class="nav-links">
        <li><a href="/student">Home</a></li>
        <li><a href="/student#about">About Us</a></li>
        <li><a href="/student#contact">Contact Us</a></li>
        <li><a id="profile" href="/student/profile"><i class="fa-regular fa-user"></i></a></li>
    </ul>
</nav>

<div class="tabs">
    <button class="tab active" onclick="showTerm(1, this)">First term</button>
    <button class="tab" onclick="showTerm(2, this)">Second term</button>
</div>

<div id="table-container"></div>

<!-- Save Button -->
<div class="registerOnCourses">
    <button id="registerButton" onclick="saveSelectedCourses()">Save</button>
</div>


<script src="../JS/studentRegisteration.js"></script>
</body>
</html>
